.login {
  height: 90vh;
  align-items: center;
  justify-content: center;
  display: flex;

  .login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    @media (max-width : 600px) {
      width: 100%;
      padding: 10px;
    }

    > h4 {
      font-size: 28px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    label {
      color: gray;
      margin-top: 10px;
      font-size: 18px;
    }
    > input {
      width: 100%;
      padding: 10px;
      border: 1px solid gray;
      outline: none;
      font-size: 18px;
      border-radius: 0%;
    }

    p {
      margin-top: 30px;
      color: rgb(185, 45, 20);
    }

    .register-text {
      margin-top: 30px;
      color: rgb(108, 108, 108);

      a {
        color: #4ac448;
      }
    }
    button {
      margin-top: 20px;
      width: 100%;
      padding: 10px;
      border: 1px solid white;
      color: white;
      background-color: black;
      font-size: 18px;
      transition: 0.25s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      gap: 8px;
      &:hover {
        background-color: #4ac448;
        border: 1px solid #4ac448;

        svg {
          transform: translateX(30px);
        }
      }

      svg {
        font-size: 30px;
        transition: 0.75s all ease-in-out;
      }
    }
  }
}
