.product-table-container {
    height: 90%;
    background-color: #2d3748;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
    // margin: 0 auto;
    width: 80%;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s, transform 0.8s;

    .product-table {
      width: 100%;
      border-collapse: collapse;
      color: #e2e8f0;

      thead {
        background-color: #4a5568;

        th {
          padding: 0.75rem 1.5rem;
          text-align: left;
          font-size: 0.75rem;
          font-weight: 600;
          color: #a0aec0;
          text-transform: uppercase;
          letter-spacing: 0.05em;
        }
      }

      tbody {
        tr {
          &:hover {
            background-color: #4a5568;
          }

          td {
            padding: 1rem 1.5rem;
            font-size: 0.875rem;
            text-align: left;
            vertical-align: middle;
            color: #cbd5e0;

            .product-info {
              display: flex;
              align-items: center;

              .product-image {
                flex-shrink: 0;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                overflow: hidden;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              .product-name {
                margin-left: 1rem;
                font-size: 0.875rem;
                color: #ffffff;
              }
              .product-description {
                margin-left: 1rem;
                margin-top: 0.3rem;
                font-size: 0.875rem;
                color: #ffffff;
              }
            }
          }

          .featured-button {
            width: 26px;
            height: 26px;
            border-radius: 100%;
            background-color: #4a5568;
            color: #a0aec0;
            cursor: pointer;
            transition: background-color 0.2s, color 0.2s;
            border: none;
            svg {
              font-size: 24px;
            }

            &:hover {
              background-color: #9a9a9a;
              color: #eaeaea;
            }
          }

          .delete-button {
            background-color: transparent;
            border: none;
            svg {
              font-size: 24px;
              cursor: pointer;
              color: rgb(209, 21, 21);
            }
          }
        }
      }
    }
  }
