.footer {
  display: flex;
  width: 100%;
  background-color: rgb(34, 34, 34);
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  color: white;

  @media (max-width: 820px) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .left-footer,
  .mid-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h4 {
      font-size: 27px;
      font-weight: 500;
    }
    p {
      text-align: center;
    }
  }

  .mid-footer {
    h1 {
      font-family: "Playwrite HR", cursive;
      font-weight: 500;
    }
  }

  .right-footer {
    display: flex;
    flex-direction: column;

    gap: 10px;
    @media (max-width: 820px) {
      align-items: center;
      justify-content: center;
    }
    h4 {
      font-size: 27px;
      font-weight: 500;
    }
    .link {
      display: flex;
      align-items: center;
      gap: 10px;
      transition: 0.35s ease;
      padding: 0px 5px;
      border-radius: 20px;

      a {
        color: white;
      }
      &:hover {
        scale: 1.1;
        background-color: gray;
      }
    }
  }
}
