.category-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-size: 30px;
    text-transform: capitalize;
  }

  .product-container {
    display: grid;
    gap: 30px;
    padding: 30px;
    margin: 0 auto;
    max-width: 1500px;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 1800px) {
      max-width: 1100px;
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);
      padding: 20px;
    }

    @media (max-width: 470px) {
      padding: 10px;
      gap: 10px;
    }

    @media (max-width: 300px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .product {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 30px;
      border: 1px solid rgb(214, 214, 214);
      border-radius: 30px;
      overflow: hidden;
      width: 350px;
      @media (max-width: 770px) {
        width: 300px;
      }
      @media (max-width: 640px) {
        width: 200px;
        padding: 20px;
      }
      @media (max-width: 470px) {
        width: 100%;
        gap: 5px;
        border-radius: 10px;
      }
      img {
        width: 100%;
        align-self: center;
        object-fit: contain;
        border-radius: 30px;
        transition: 0.35s all ease;
        align-self: flex-start;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
        @media (max-width: 770px) {
          width: 200px;
          height: 200px;
        }
        @media (max-width: 640px) {
          width: 120px;
          height: 120px;
        }
        @media (max-width: 640px) {
          width: 100px;
          height: 100px;
          border-radius: 10px;
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        > h2 {
          font-weight: 300;
          z-index: 10;
          font-size: 18px;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 98%;
          min-height: 60px;
          @media (max-width: 640px) {
            font-size: 15px;
          }
        }

        p {
          font-weight: 400;
          z-index: 10;
          font-size: 20px;
          @media (max-width: 640px) {
            font-size: 15px;
          }
        }

        button {
          padding: 5px 10px;
          background-color: black;
          border: none;
          color: white;
          cursor: pointer;
          font-weight: 300;
          font-size: 17px;
          border-radius: 100%;
          height: 50px;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 1s all ease-in-out;

          &:hover {
            border-radius: 15px;
            transform: scale(1.1);
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
