.product-featured {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 30px;
  overflow: hidden;
  width: 330px;
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
  @media (max-width: 770px) {
    width: 300px;
    
  }
  @media (max-width: 640px) {
    width: 200px;
    padding: 20px;
  }
  @media (max-width: 470px) {
    width: 100%;
    gap: 5px;
    border-radius: 10px;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    transition: 0.35s all ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }

    @media (max-width: 640px) {
      width: 100px;
      height: 100px;
    }
    @media (max-width: 640px) {
      width: 80px;
      height: 80px;
    }
  
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    > h2 {
      font-weight: 300;
      z-index: 10;
      font-size: 17px;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 98%;
      min-height: 40px;
      @media (max-width: 640px) {
       font-size: 15px;
      }
    }

    p {
      font-weight: 400;
      z-index: 10;
      font-size: 18px;
    }

    button {
      padding: 10px;
      outline: none;
      border: none;
      background-color: black;
      color: white;
      transition: 0.45s ease;
      cursor: pointer;
      @media (max-width: 640px) {
        padding: 5px;
       }
      &:hover {
        transform: scale(1.1);
        background-color: #6d6d6d;
      }
    }
  }
}
